{% if user.is_authenticated %}

<form action="{% url 'cookbook:get_recipes' %}" method="GET">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
</form>

<form action="{% url 'accounts:logout_user' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<a href="{% url 'cookbook:add_recipe' %}" >WPISZ PRZEPIS</a><br>
<a href="{% url 'cookbook:add_recipe_link' %}" >WKLEJ LINK DO PRZEPISU</a>

{% else %}

<a href="{% url 'accounts:signup_user' %}">Signup</a>
<a href="{% url 'accounts:login_user' %}">Login</a>

{% endif %}

{% block content%}
{% endblock%}