{% extends 'cookbook/base.html' %}

{% block content%}

<div>
    {% if results.count > 0 %}
    <h3>Twoje przepisy ({{ results.count }}) </h3>
    {% endif %}

    {% for recipe in results %}

    <a href="{% url 'cookbook:recipe_details' recipe.id %}"><h4>{{ recipe.title }}</h4>
        {% if recipe.image %}
        <img src="{{ recipe.image.url}}">
        {% endif %}
    </a>

    {% empty %}

    {% if query %}
    <p>BRAK WYNIKÓW</p>
    {% else %}
    <p>Nie dodano jeszcze przepisów.</p>
    {% endif %}

    {% endfor %}
</div>

{% endblock%}